@use "sass:map";
@use "sass:list";

$path: './../../statics/icons/';
$items: (
  ("family": 'raleway', "weight": normal, "style": italic, "file": 'alarm.svg'),
  ("family": 'raleway', "weight": bold, "style": normal, "file": 'basket_ok.svg'),
  ("family": 'raleway', "weight": bold, "style": italic, "file": 'browser_ok.svg'),
  ("family": 'raleway', "weight": normal, "style": normal, "file": 'compass.svg'),
  ("family": 'open-sans', "weight": normal, "style": normal, "file": 'heart.svg'),
  ("family": 'open-sans', "weight": normal, "style": italic, "file": 'map.svg'),
  ("family": 'open-sans', "weight": bold, "style": normal, "file": 'power.svg'),
  ("family": 'open-sans', "weight": bold, "style": italic, "file": 'terminal.svg')
);

@function item($prop, $i){
  @return map.get(list.nth($items, $i), $prop);
 }

#text-samples>li{
  @for $i from 1 through length($items) {
    &:nth-child(#{$i}){
      font-family: item("family", $i);
      font-weight: item("weight", $i);
      font-style: item("style", $i);
      background-image: url('#{$path}#{item("file", $i)}');
    }
  }
}